* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  color: white;
  font-family: 'Segoe UI',Arial,'Microsoft Jhenghei',sans-serif;
}

@media (width < 700px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  
  .header-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (width >= 700px){
  .header-container {
    display: flex;
    flex-direction: row;
  }
}

.header-container {
  background-color: #303134;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  align-items: center;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.header-container > div {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;  
  padding-left: 2rem;
  padding-right: 2rem;
  transition: background-color 300ms ease-in-out;
}


.header-container > div:hover {
  background-color: rgba(255,255,255,0.1);
  transition: background-color 300ms ease-in-out;
}


#main-page {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}


footer {
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem;
  margin: 0.1rem;
}

.footer-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.footer-item {
  display: flex;
  flex-direction: row;
}

.footer-item > a {
  text-decoration: none;
  color: inherit;
}

.footer-item > a:hover {
  text-decoration: underline;
}
