* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  --num-rows: 15;
  --num-cols: 7;
  --grid-size: 4vmin;
  width: calc(var(--grid-size) * var(--num-cols) + var(--num-cols) - 1 * 1px);
  height: calc(var(--grid-size) * var(--num-rows) + var(--num-rows) - 1 * 1px);
  background: #222;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), var(--grid-size));
  grid-template-rows: repeat(var(--num-rows), var(--grid-size));
  gap: 1px;
  position: relative;
}

.grid {
  width: 100%;
  height: 100%;
  background-color: #111;
  user-select: none;
  cursor: default;
}

.block {
  --x: 3;
  --y: 3;
  --block-color: rgb(255, 0, 0);
  user-select: none;
  cursor: default;
  position: absolute;
  width: var(--grid-size);
  height: var(--grid-size);
  background-color: var(--block-color);
  left: calc(var(--x) * (var(--grid-size) + 1px));
  top: calc(var(--y) * (var(--grid-size) + 1px));
}

.dialog {
  user-select: none;
  cursor: default;
  display: none;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}