.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary-title {
  position: relative;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 300%;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(200deg, #155799, #159957);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  margin-bottom: 3%;
  user-select: none;
  overflow: hidden;
}

.ani-text {
  display: none;
  position: absolute;
  color: red;
}

.info {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

h2 {
  text-align: center;
  margin: 1rem;
}

.info-grid {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  margin-left: 5%;
  margin-right: 5%;
}


@media (700px < width <= 1000px) {
  .info-grid {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (width <= 700px) {
  .info-grid {
    display: grid;
    align-items: center;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
  border-radius: 10px;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.info-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.info-box:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  transform: scale(103%);
}


.info-btn {
  font-size: 1.1rem;
  align-self: center;
  justify-self: center;
  padding: 0.3rem;
  width: fit-content;
}


.ani-text {
  position: absolute;
  width: calc(100% + 100px);
  height: 100%;
  display: flex;
  overflow: hidden;
  opacity: 0.05;
  color: white;
  pointer-events: none;
}

.ani-text.left {
  top: 10%;
}

.ani-text.right {
  top: 75%;
}

.ani-text > span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  white-space: nowrap;
  padding: 1rem;
}

.ani-text.left > span {
  animation: left_move 3s linear infinite;
}

.ani-text.right > span {
  animation: right_move 3s linear infinite;
}

@keyframes left_move{
	0% {transform: translateX(0%);}
	100% {transform: translateX(-100%);}
}

@keyframes right_move{
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}

.home-link {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.home-link span {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.home-link:hover {
  text-decoration: underline;
}

.home-link:hover span {
  transform: translateX(1rem);
}